<aside class="sidebar" id="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
                <img class="profile__avatar" src="/assets/images/622f06badb1530a1fcea7ef6c80689ef.jpg" alt="">
            <div class="profile__header">
                <div class="profile__name">Denis</div>
                <div class="profile__prof">Website design</div>
           </div>



            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram.svg" alt=" instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt=" vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="pinterest">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam fugit mollitia nam nobis perspiciatis placeat quo recusandae repudiandae tempora, ullam vero voluptate. Et fuga iste laboriosam nihil sed, voluptate?</p>
            </div>
        </div><!-- /.profile -->


        <nav class="nav nav--mobile">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link  has-subnav" href="post.html">Статьи</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="#">Создание сайтов</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Интернет-маркетинг</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Продвижение видео</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Обо мне</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="search.html">Поиск</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Выйти</a>
                </li>

            </ul>
        </nav>

    </div><!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn  btn--red" href="works.html">Мои работы</a>
        <button class="btn  btn--blue" type="button" data-modal="contact-modal">Написать мне</button>
    </div>
</aside>
